@model StarSecurityService.Models.Account

@{
    ViewBag.Title = "AccountEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Information</h3>
        </div>
        <form role="form">
            <div class="box-body">
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    @Html.LabelFor(model => model.username)
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password)
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.role)
                    <select class="form-control" name="role">
                        <option value="admin">Admin</option>
                        <option value="manager">Manager</option>
                        <option value="staff">Staff</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                @Html.ActionLink("Back to List", "AccountList", null, new { @class = "btn btn-default" })
            </div>
        </form>
    </div>
}
