@model StarSecurityService.Models.Client

@{
    ViewBag.Title = "Client Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box box-primary center-block" style="width: 30%">
    <div class="box-body box-profile">
        <h3 class="profile-username">@Html.DisplayFor(model => model.name)</h3>
        <hr>
        <strong><i class="fa fa-address-card margin-r-5"></i> @Html.DisplayNameFor(model => model.address)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.address)</p>
        <hr>
        <strong><i class="fa fa-phone margin-r-5"></i> @Html.DisplayNameFor(model => model.phone)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.phone)</p>
        <hr>
        <strong><i class="fa fa-envelope margin-r-5"></i> @Html.DisplayNameFor(model => model.email)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.email)</p>
        <hr>
        <strong><i class="fa fa-cog margin-r-5"></i> @Html.DisplayNameFor(model => model.service_id)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.Service.name)</p>
        <hr>
        <strong><i class="fa fa-user margin-r-5"></i> @Html.DisplayNameFor(model => model.quantity)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.quantity) <span>Person(s)</span></p>
        <hr>
        <strong><i class="fa fa-calendar margin-r-5"></i> @Html.DisplayNameFor(model => model.duration)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.duration) <span>Day(s)</span></p>
        <hr>
        <strong><i class="fa fa-calendar-check-o margin-r-5"></i> @Html.DisplayNameFor(model => model.start_at)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.start_at)</p>
        <hr>
        <strong><i class="fa fa-file-text margin-r-5"></i> @Html.DisplayNameFor(model => model.description)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.description)</p>
        <hr>
        <strong><i class="fa fa-check-circle margin-r-5"></i> @Html.DisplayNameFor(model => model.status)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.status)</p>
        <hr>
        <strong><i class="fa fa-calendar-plus-o margin-r-5"></i> @Html.DisplayNameFor(model => model.created_at)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.created_at)</p>
        <hr>
        <strong><i class="fa fa-calendar-o margin-r-5"></i> @Html.DisplayNameFor(model => model.updated_at)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.updated_at)</p>
    </div>
    <div class="box-footer">
        @Html.ActionLink("Edit", "ClientEdit", new { id = Model.id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "ClientInsert", null, new { @class = "btn btn-default pull-right" })
    </div>
</div>
