@model IEnumerable<StarSecurityService.Models.Contract>

@{
    ViewBag.Title = "Contract List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box">
    <div class="box-body">
        <table id="datatable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.total)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.service_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.client_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.created_at)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.end_at)
                    </th>
                    <th>
                        Assigned Employee
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.end_at)
                    </td>
                    <td>
                        @Html.Action("GetEmployeeOfContract", new { id = item.id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "ContractEdit", new { id = item.id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "ContractDetails", new { id = item.id }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>