@model StarSecurityService.Models.Contract

@{
    ViewBag.Title = "Contract Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box box-primary center-block" style="width: 30%">
    <div class="box-body box-profile">
        <strong><i class="fa fa-info-circle margin-r-5"></i> @Html.DisplayNameFor(model => model.code)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.code)</p>
        <hr>
        <strong><i class="fa fa-user margin-r-5"></i> @Html.DisplayNameFor(model => model.client_id)</strong>
        <p class="text-muted"><a href="@Url.Action("ClientDetails", "Admin", new { id = Model.client_id })">@Html.DisplayFor(model => model.Client.name)</a></p>
        <hr>
        <strong><i class="fa fa-cog margin-r-5"></i> @Html.DisplayNameFor(model => model.service_id)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.Service.name)</p>
        <hr>
        <strong><i class="fa fa-user-o margin-r-5"></i> @Html.DisplayNameFor(model => model.quantity)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.quantity) <span>Person(s)</span></p>
        <hr>
        <strong><i class="fa fa-calendar margin-r-5"></i> @Html.DisplayNameFor(model => model.duration)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.duration) <span>Day(s)</span></p>
        <hr>
        <strong><i class="fa fa-money margin-r-5"></i> @Html.DisplayNameFor(model => model.price)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.price)</p>
        <hr>
        <strong><i class="fa fa-calendar-check-o margin-r-5"></i> @Html.DisplayNameFor(model => model.start_at)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.start_at)</p>
        <hr>
        <strong><i class="fa fa-calendar-times-o margin-r-5"></i> @Html.DisplayNameFor(model => model.end_at)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.end_at)</p>
        <hr>
        <strong><i class="fa fa-check-circle margin-r-5"></i> @Html.DisplayNameFor(model => model.status)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.status)</p>
        <hr>
        <strong><i class="fa fa-calendar-plus-o margin-r-5"></i> @Html.DisplayNameFor(model => model.created_at)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.created_at)</p>
        <hr>
        <strong><i class="fa fa-calendar-o margin-r-5"></i> @Html.DisplayNameFor(model => model.updated_at)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.updated_at)</p>
        <hr>
    </div>
    <div class="box-footer">
        @Html.ActionLink("Edit", "ContractEdit", new { id = Model.id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "ContractInsert", null, new { @class = "btn btn-default pull-right" })
    </div>
</div>