@model StarSecurityService.Models.Contract

@{
    ViewBag.Title = "Edit Contract";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var listStatus = new SelectList(new List<SelectListItem> {
        new SelectListItem { Text = "Active", Value = "Active"},
        new SelectListItem { Text = "Complete", Value = "Complete"},
        new SelectListItem { Text = "Null", Value = "Null"}
    }, "Value", "Text");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box box-primary">
        <div class="center-block" style="width: 30%">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Update Contract Information</h3>
            </div>
            <form role="form">
                <div class="box-body">
                    @Html.HiddenFor(model => model.id)
                    <div class="form-group hidden">
                        @Html.LabelFor(model => model.client_id)
                        @Html.DropDownListFor(model => model.client_id, ViewBag.clientList as SelectList, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group hidden">
                        @Html.LabelFor(model => model.service_id)
                        @Html.DropDownListFor(model => model.service_id, ViewBag.serviceList as SelectList, "", new { @class = "form-control", @id = "sv" })
                        @Html.ValidationMessageFor(model => model.service_id, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.start_at)
                                @Html.EditorFor(model => model.start_at, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                                @Html.ValidationMessageFor(model => model.start_at, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.end_at)
                                @Html.EditorFor(model => model.end_at, new { htmlAttributes = new { @class = "form-control", @id = "datepicker2" } })
                                @Html.ValidationMessageFor(model => model.end_at, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.quantity)
                                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control", @id = "qty" } })
                                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.duration)
                                @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "form-control", @id = "dur" } })
                                @Html.ValidationMessageFor(model => model.duration, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.price)
                                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", @id = "total" } })
                                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.status)
                                @Html.DropDownListFor(model => model.status, listStatus, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Back to List", "ContractInsert", null, new { @class = "btn btn-default pull-right" })
                </div>
            </form>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        function calculate() {
            var sv = $("#sv").val();
            var qty = $("#qty").val();
            var dur = $("#dur").val();
            var total = $("#total").val();

            if (sv == 0) {
                $("#total").val("");
            }
            else if (sv == 1) {
                $("#total").val(1000000 * qty * dur);
            }
            else if (sv == 2) {
                $("#total").val(1500000 * qty * dur);
            }
            else if (sv == 3) {
                $("#total").val(2000000 * qty * dur);
            }
            else {
                $("#total").val(2500000 * qty * dur);
            }
        }

        $(document).ready(function () {
            $("#sv").change(calculate);
            $("#qty").change(calculate);
            $("#dur").change(calculate);
            $("#total").change(calculate);
        });
    </script>
}