@model StarSecurityService.Models.Contract

@{
    ViewBag.Title = "Contract Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-body box-profile">
        <strong><i class="fa fa-address-card margin-r-5"></i> @Html.DisplayNameFor(model => model.id)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.id)</p>
        <hr>
        <strong><i class="fa fa-address-card margin-r-5"></i> @Html.DisplayNameFor(model => model.duration)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.duration)</p>
        <hr>
        <strong><i class="fa fa-phone margin-r-5"></i> @Html.DisplayNameFor(model => model.total)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.total)</p>
        <hr>
        <strong><i class="fa fa-birthday-cake margin-r-5"></i> @Html.DisplayNameFor(model => model.service_id)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.Service.name)</p>
        <hr>
        <strong><i class="fa fa-black-tie margin-r-5"></i> @Html.DisplayNameFor(model => model.client_id)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.Client.name)</p>
        <hr>
        <strong><i class="fa fa-file-archive-o margin-r-5"></i> @Html.DisplayNameFor(model => model.created_at)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.created_at)</p>
        <hr>
        <strong><i class="fa fa-black-tie margin-r-5"></i> @Html.DisplayNameFor(model => model.end_at)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.end_at)</p>
        <hr>
        <strong><i class="fa fa-black-tie margin-r-5"></i> @Html.DisplayNameFor(model => model.status)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.status)</p>
    </div>
    <div class="box-footer">
        @Html.ActionLink("Edit", "ContractEdit", new { id = Model.id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "ContractList", null, new { @class = "btn btn-default" })
    </div>
</div>