@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@ViewBag.clients</h3>
                <p>New Clients</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-contact"></i>
            </div>
            <a href="@Url.Action("ClientList", "Admin")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewBag.contracts</h3>
                <p>Active Contracts</p>
            </div>
            <div class="icon">
                <i class="ion ion-document-text"></i>
            </div>
            <a href="@Url.Action("ContractList", "Admin", new { status = "Active" })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@ViewBag.dispatch</h3>
                <p>Dispatch</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-briefcase"></i>
            </div>
            <a href="@Url.Action("EmployeeInsert", "Admin")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@ViewBag.training</h3>
                <p>Under Training</p>
            </div>
            <div class="icon">
                <i class="ion ion-man"></i>
            </div>
            <a href="@Url.Action("EmployeeInsert", "Admin")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Latest Contracts</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Client</th>
                        <th>Service</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in ViewBag.list)
                {
                    <tr>
                        <td><a href="@Url.Action("ContractDetails", "Admin", new { id = item.id })">@item.code</a></td>
                        <td><a href="@Url.Action("ClientDetails", "Admin", new { id = item.client_id })">@item.Client.name</a></td>
                        <td>@item.Service.name</td>
                        <td>@item.start_at</td>
                        <td>@item.end_at</td>
                        <td>
                            @if (item.status == "Pending")
                            {
                                <span class="label label-warning">@item.status</span>
                            }
                            else if (item.status == "Active")
                            {
                                <span class="label label-success">@item.status</span>
                            }
                            else if (item.status == "Complete")
                            {
                                <span class="label label-info">@item.status</span>
                            }
                            else
                            {
                                <span class="label label-danger">@item.status</span>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-footer clearfix">
        <a href="@Url.Action("ContractList", "Admin")" class="btn btn-sm btn-info btn-flat">View All Contracts</a>
    </div>
</div>