@model StarSecurityService.Models.Employee

@{
    ViewBag.Title = "Employee Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-body box-profile">
        <h3 class="profile-username">@Html.DisplayFor(model => model.name)</h3>
        <hr>
        <strong><i class="fa fa-address-card margin-r-5"></i> @Html.DisplayNameFor(model => model.address)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.address)</p>
        <hr>
        <strong><i class="fa fa-phone margin-r-5"></i> @Html.DisplayNameFor(model => model.phone)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.phone)</p>
        <hr>
        <strong><i class="fa fa-birthday-cake margin-r-5"></i> @Html.DisplayNameFor(model => model.birthday)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.birthday)</p>
        <hr>
        <strong><i class="fa fa-black-tie margin-r-5"></i> @Html.DisplayNameFor(model => model.position)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.position)</p>
        <hr>
        @*<strong><i class="fa fa-black-tie margin-r-5"></i> @Html.DisplayNameFor(model => model.account_id)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.Account.username)</p>
        <hr>*@
        <strong><i class="fa fa-file-archive-o margin-r-5"></i> @Html.DisplayNameFor(model => model.contract_id)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.contract_id)</p>
        <hr>
        <strong><i class="fa fa-check-circle margin-r-5"></i> @Html.DisplayNameFor(model => model.status)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.status)</p>
    </div>
    <div class="box-footer">
        @{
            var session = (StarSecurityService.Common.UserLogin)Session[StarSecurityService.Common.CommonConstants.USER_SESSION];
        }
        @if (session.Role == "admin")
        {
            @Html.ActionLink("Edit", "EmployeeEdit", new { id = Model.id }, new { @class = "btn btn-primary" })
        }
        @Html.ActionLink("Back to List", "EmployeeList", null, new { @class = "btn btn-default" })
    </div>
</div>