@model IEnumerable<StarSecurityService.Models.Vacancy>

@{
    Layout = null;
    var session = (StarSecurityService.Common.UserLogin)Session[StarSecurityService.Common.CommonConstants.USER_SESSION];
}

<div class="box">
    <div class="box-body">
        <table id="datatable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.job)
                    </th>
                    <th style="width: 40%">
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.requirement)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.salary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.deadline)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.job)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.requirement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.salary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.deadline)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "VacancyDetails", new { id = item.id }, new { @class = "btn btn-info" })
                            @if (session.Role == "admin")
                            {
                                @Html.ActionLink("Edit", "VacancyEdit", new { id = item.id }, new { @class = "btn btn-primary", @style = "margin-right: 3px" })
                                using (Html.BeginForm("VacancyDelete", "Admin", new { id = item.id }, FormMethod.Post, new { onsubmit = "return confirm('Are you sure you want to delete this?');", style = "display: inline-block" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                }
                            }
                            else if (session.Role == "manager")
                            {
                                @Html.ActionLink("Edit", "VacancyEdit", new { id = item.id }, new { @class = "btn btn-primary", @style = "margin-right: 3px" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

