@model StarSecurityService.Models.Vacancy

@{
    ViewBag.Title = "Vacancy Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-body box-profile">
        <h3 class="profile-username">@Html.DisplayFor(model => model.job)</h3>
        <hr />
        <strong><i class="fa fa-address-card margin-r-5"></i> @Html.DisplayNameFor(model => model.position)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.position)</p>
        <hr>
        <strong><i class="fa fa-address-card margin-r-5"></i> @Html.DisplayNameFor(model => model.quantity)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.quantity)</p>
        <hr>
        <strong><i class="fa fa-address-card margin-r-5"></i> @Html.DisplayNameFor(model => model.deadline)</strong>
        <p class="text-muted">@Html.DisplayFor(model => model.deadline)</p>
        <hr>
    </div>
    <div class="box-footer">
        @{
            var session = (StarSecurityService.Common.UserLogin)Session[StarSecurityService.Common.CommonConstants.USER_SESSION];
        }
        @if (session.Role == "admin" || session.Role == "manager")
        {
            @Html.ActionLink("Edit", "VacancyEdit", new { id = Model.id }, new { @class = "btn btn-primary" })
        }
        @Html.ActionLink("Back to List", "VacancyList", null, new { @class = "btn btn-primary" })
    </div>
</div>

