<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/AdminLTE.css">
    <link rel="stylesheet" href="~/Content/bootstrap3-wysihtml5.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="~/Content/skin-blue.css">
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Dashboard", "Admin")" class="logo">
                <span class="logo-mini"><b class="fa fa-star"></b>SS</span>
                <span class="logo-lg"><b>Star Security</b> Service</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button"><span class="sr-only">Toggle navigation</span></a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- DROPDOWN MESSAGES -->
                        <!-- DROPDOWN NOTIFICATIONS -->
                        <!-- DROPDOWN TASKS -->
                        <li class="dropdown user user-menu">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Upload/avatar-default.jpg" class="user-image" alt="User Image">
                                @{
                                    var session = (StarSecurityService.Common.UserLogin)Session[StarSecurityService.Common.CommonConstants.USER_SESSION];
                                }
                                <span class="hidden-xs">@session.UserName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="~/Upload/avatar-default.jpg" class="img-circle" alt="User Image">
                                    <p>@session.UserName</p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        @Html.ActionLink("Sign Out", "Logout", "Login", "", new { @class = "btn btn-default btn-flat" })
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class=""><a href="@Url.Action("Dashboard", "Admin")"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                    <li class=""><a href="@Url.Action("EmployeeInsert", "Admin")"><i class="fa fa-user-circle"></i> <span>Employee</span></a></li>
                    <li class=""><a href="@Url.Action("ContractInsert", "Admin")"><i class="fa fa-file-word-o"></i> <span>Contract</span></a></li>
                    <li class=""><a href="@Url.Action("ClientInsert", "Admin")"><i class="fa fa-user-circle-o"></i> <span>Client</span></a></li>
                    <li class=""><a href="@Url.Action("ServiceInsert", "Admin")"><i class="fa fa-cogs"></i> <span>Service</span></a></li>
                    <li class=""><a href="@Url.Action("DepartmentInsert", "Admin")"><i class="fa fa-briefcase"></i> <span>Department</span></a></li>
                    <li class=""><a href="@Url.Action("VacancyInsert", "Admin")"><i class="fa fa-tasks"></i> <span>Vacancy</span></a></li>
                    <li class=""><a href="@Url.Action("AccountInsert", "Admin")"><i class="fa fa-user-secret"></i> <span>Account</span></a></li>

                    @*<li class="treeview">
                        <a href="">
                            <i class="fa fa-user-circle-o"></i> <span>Vacancy</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("VacancyList", "Admin")"><i class="fa fa-list"></i> Vacancy list</a></li>
                            @if (session.Role == "admin" || session.Role == "manager")
                            {
                                <li><a href="@Url.Action("VacancyInsert", "Admin")"><i class="fa fa-plus-circle"></i> Add new vacancy</a></li>
                            }
                        </ul>
                    </li>*@

                    @*<li class="treeview">
                        <a href="">
                            <i class="fa fa-user-circle-o"></i> <span>Account</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AccountList", "Admin")"><i class="fa fa-list"></i> Account list</a></li>
                            @if (session.Role == "admin")
                            {
                                <li><a href="@Url.Action("AccountInsert", "Admin")"><i class="fa fa-plus-circle"></i> Add new account</a></li>
                            }
                        </ul>
                    </li>*@

                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content container-fluid">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <b><a href="@Url.Action("Contact", "Home")">Star Security Service</a> &copy;</b> 2019.
        </footer>
        <!-- CONTROL SIDEBAR -->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/adminlte.js"></script>
    <script src="~/Scripts/bootstrap3-wysihtml5.all.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(".textarea").wysihtml5();
        $("#datatable").DataTable();
        $('#datepicker').datepicker({
            autoclose: true
        });
        $('#datepicker2').datepicker({
            autoclose: true
        });
    </script>
    <script>
        $(document).ready(function () {
            var url = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);
            $('.treeview-menu li').removeClass('active');
            $('[href$="' + url + '"]').parent().addClass("active");
            $('.treeview').removeClass('menu-open active');
            $('[href$="' + url + '"]').closest('li.treeview').addClass("menu-open active");
        });
    </script>
</body>
</html>