<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="/Content/Custom.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="background">
    <div class="container">
        <p style="font-size: 25px; color: #fff; cursor: pointer; margin-bottom: 20px;">STAR SECURITY SERVICES</p>
        <div class="banner"></div>
        <div style="margin-top: 18px; margin-bottom: 20px;" class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="header-menu"> @Html.ActionLink("Home", "Index", "Home")</div>
                    </div>
                    <div class="col-md-2">
                        <div class="header-menu"> @Html.ActionLink("Services", "Service", "Home")</div>
                    </div>
                    <div class="col-md-2">
                        <div class="header-menu"> @Html.ActionLink("Contact", "Contact", "Home")</div>
                    </div>
                    <div class="col-md-2">
                        <div style="margin-left: 25px;" class="header-menu"> @Html.ActionLink("Testimonial", "Testimonial", "Home")</div>
                    </div>
                    <div class="col-md-2">
                        <div style="margin-left: 52px;" class="header-menu"> @Html.ActionLink("Recruitment", "Recruitment", "Home")</div>
                    </div>
                    <div class="col-md-2">
                        <div style="margin-left: 87px;" class="header-menu"> @Html.ActionLink("Network", "Network", "Home")</div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="row">
                    <div class="col-md-offset-4 col-md-8">
                        <div class="col-md-2">
                            <div style="margin-left: -71px;" class="header-menu"><a style="white-space: nowrap;" href="#aboutus">About Us</a></div>
                        </div>
                        <div class="col-md-2">
                            <div class="login-top">
                                @Html.ActionLink("Log In", "Login", "Login")
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    <div style="background: #fff;">
        @RenderBody()
    </div>
    <p style="text-align: center; font-size: 12px; margin-top: 100px; margin-bottom: 25px; margin-left: -18px;">©2019 by Star Security Services.</p>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
